.clicked {
    border-color: #3b82f6;
    color: #3b82f6;
}

.POSTS:first-of-type {
    border: none;
}

.show {
    display: flex;
}

.descrtiption-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
